#header
  %nav.navbar.is-primary
    -# Title
    .navbar-brand
      =link_to t('app_title'), '/', class: 'navbar-item'
      -# Hamburger menu for mobile devices
      %a.navbar-burger
        %span
        %span
        %span

    .navbar-menu
      -# Left navbar
      .navbar-start
        -if @current_user == nil
          -# Different navbar if not logged in
          =link_to 'Log In', '/login', class: 'navbar-item'
          =link_to 'Sign Up', '/signup', class: 'navbar-item'

        -else
          -# Navbar for the rest of the app
          =link_to 'Explore', '/explore', class: 'navbar-item'


      -# Right navbar
      .navbar-end
        -# Show user menu if logged in
        -if @current_user != nil
          .navbar-item.has-dropdown.is-hoverable
            %a.navbar-link= 'Logged in as ' + @current_user.name
            .navbar-dropdown
              =link_to 'Account', '/account', class: 'navbar-item'
              =link_to 'Log Out', '/logout', class: 'navbar-item'

        =link_to t('back'), :back, class: 'navbar-item'


  -# Display flash messages
  -flash.each do |key, value|
    -if key == 'error'
      -# Style errors as danger alert
      -type = 'is-danger'
    -else
      -# Style anything else as info
      -type = 'is-info'

    %div{class: "message #{type}"}
      .message-body
        =value
        %button.delete.is-pulled-right


