#header
  %nav.navbar.is-primary
    -# Title
    .navbar-brand
      =link_to t('app_title'), '/', class: 'navbar-item'
      -# Hamburger menu for mobile devices
      %a.navbar-burger
        %span
        %span
        %span

    .navbar-menu
      -# Left navbar
      .navbar-start
        -if @current_user == nil
          -# Different navbar if not logged in
          =link_to 'Log In', '/login', class: 'navbar-item'
          =link_to 'Sign Up', '/signup', class: 'navbar-item'

        -else
          -# Navbar for the rest of the app
          =link_to 'Explore', '/explore', class: 'navbar-item'
          =link_to 'Profile', '/profile', class: 'navbar-item'
          =link_to 'Photos', '/profile/photos', class: 'navbar-item'


      -# Right navbar
      .navbar-end
        -# Show user menu if logged in
        -if @current_user != nil
          .navbar-item= 'Logged in as ' + @current_user.name
          =link_to 'Log Out', '/logout', class: 'navbar-item'


  -# Display flash messages
  -flash.each do |key, value|
    -if key == 'error'
      -# Style errors as danger alert
      -type = 'is-danger'

    -elsif key == 'success'
      -#Style success as success alert
      -type = 'is-success'

    -else
      -# Style anything else as info
      -type = 'is-info'

    =render 'partials/notification', type: type, msg: value






