= form_with(url: url, model: user, local: true) do |form|
  -if type == 'new'
    .field
      =form.label :username
      .control
        =form.text_field :username, class: 'input'

  .field
    =form.label :password
    .control
      =form.text_field :password, class: 'input'
  .field
    =form.label :password_confirmation
    .control
      =form.text_field :password_confirmation, class: 'input'
  .field
    =form.label :name
    .control
      =form.text_field :name, class: 'input'
  .field
    =form.label :dob
    .control
      =form.date_field :dob, class: 'input'
  .field
    =form.label :gender
    .control
      %label.radio
        =t('genders.male')
        =form.radio_button :gender, 'male'
      %label.radio
        =t('genders.female')
        =form.radio_button :gender, 'female'
      %label.radio
        =t('genders.other')
        =form.radio_button :gender, 'other'

  -if type == 'edit'
    .field
      =form.label :bio
      .control
        =form.text_area :bio, class: 'textarea'
  .field
    .control
      =form.submit class: 'button is-link'
