#wrapper
  =render 'partials/header'
  .section
    .container
      =render 'form', url: '/account', user: @current_user, type: 'edit'
      =button_to t('.delete'), '/account', method: :delete, data: {confirm: t('.delete_confirm')}, class: 'button is-danger'

=render 'partials/footer'