=render :partial => 'partials/header', :locals => {:title => t('home.login')}
=link_to t("back"), '/'

.container
  =form_with do |form|
    .form-group
      =form.label :name
      =form.text_field :name
    .form-group
      =form.label :password
      =form.text_field :password
    =form.submit t('home.login')

