=render 'partials/header'
=link_to t("back"), '/'

#signup_form
  =form_with do |form|
    =form.label :name
    =form.text_field :name
    =form.label :password
    =form.text_field :password
    =form.submit t('home.login')
