.card
  .card-content
    .content.match-content
      %p.subtitle.match-name= user.name
      %span.tag.is-info= @current_user.received_messages.where(user_id: user.id, read: false).count
  .card-footer
    =button_to t('.unmatch'), '/matches', params: {id: user.id, name: user.name}, method: :delete, data: {confirm: t('.unmatch_confirm', name: user.name)}, class: 'card-footer-item'
    =link_to t('.chat'), "/chat?id=#{user.id}", class: 'card-footer-item'