#wrapper
  =render 'partials/header'
  .section
    .container.has-text-centered.block
      -#Show title
      -if @matches != []
        %p.title= t('.title')
      -else
        %p.title= t('.no_matches_1')
        %p.subtitle= t('.no_matches_2')
    .container
      -#Display matches in a grid with 3 columns
      -until @matches == []
        .tile.is-ancestor
          -for i in 1..3
            -user = @matches.shift
            -if user != nil
              .tile.is-parent
                .tile.is-child
                  =render 'match_card', user: user
            -else
              .tile.is-parent
                .tile.is-child

=render 'partials/footer'