.card
  .card-image
    %figure.image.is-3by4
      =image_tag photo.image.derivation_url(:resized, 480, 640)

  .card-content.has-text-centered
    =button_to t('.delete'), '/profile/photos', params: {photo_id: photo.id}, method: :delete, data: {confirm: t('.delete_confirm')}, class: 'button is-danger'


