#wrapper
  =render 'partials/header'
  .section
    .container
      =form_with(url: '/profile/photos/upload', model: @photo, local: true) do |f|
        =f.hidden_field :image, value: @photo.cached_image_data
        .field
          .control
            =f.file_field :image, class: 'input'

        .field
          .control
            =f.submit class: 'button is-link'
            =link_to t('.cancel'), '/profile/photos', class: 'button is-light'

=render 'partials/footer'
