// Place all the styles related to the Explore controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.explore-card {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.explore-photo {
  width: 480px;
  height: 640px;
}

.explore-photo.hide {
  display: none;
}

#explore-buttons {
  display: flex;
  justify-content: space-between;
}

#current-photo-column {
  margin-top: auto;
  margin-bottom: auto;
}