#header {
  nav {
    .navbar-dropdown {
      //Make sure correct color is used on home page
      a {
        color: #4a4a4a;
      }

      //Stop dropdown links from changing colour
      a:visited {
        color: #4a4a4a;
      }
    }
  }
}

//Make footer sticky
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}

.footer {
  a:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  a:visited {
    color: #3273dc;
  }
}
