%table

  %tr
    %td#name= @user.name
    %td#dob= @user.dob
    %td#gender= t('genders.' + @user.gender)

  %tr
    %td#bio= @user.bio

  -# Show success notification if there was a match
  -if @matched_name != nil
    %tr
      =render 'partials/notification', type: 'is-success', msg: 'Matched with ' + @matched_name + '!'


