#wrapper
  =render 'partials/header'
  .section
    .container
      #details= render 'details'

      .field.is-grouped
        .control
          =button_to t('.dislike_button'), {action: :dislike}, remote: true, class: 'button is-danger explore-button'
        .control
          =button_to t('.like_button'), {action: :like}, remote: true, class: 'button is-success explore-button'


=render 'partials/footer'

