%h1= t('.title')
#details= render 'details'

#buttons
  %table
    %tr
      %td= button_to t('.dislike_button'), :dislike, remote: true
      %td= button_to t('.like_button'), :like, remote: true



